body{
    background-color: rgb(207, 230, 252);
    margin: 0;
    min-height: 100vh;
}
.profile-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 15vh;
    background-color: #365eb6;
    color: aliceblue;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.g-signin2{
    display: none;
}
.profile-info h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    letter-spacing: -0.025em;
}
.profile-info p{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: aliceblue;
    margin: 0;
}
.profile-info a{
    align-self: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: 22px;
    font-weight: 600;
}
.profile-info img{
    height: 10vh;
}
.firstsection{
    display: flex;
}
.users{
    margin: 0;
    width: 50%;
    border-right: solid 4px #1359C4;
}
.users > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1359C4;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    border-bottom: solid 4px #1359C4;
    margin: 0;
    letter-spacing: -0.025em;
}
.user-list div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 12.5vh;
    width: 100%;
    border-bottom: solid 4px #1359C4;
    padding: 20px 0;
}
.user-list div img{
    max-height: 10vh;
}
.user-list div h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1359C4;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    letter-spacing: -0.025em;
}
.user-list div p{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #1359C4;
    margin: 0;
}
button{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: aliceblue;
    color: #1359C4;
    border: solid 2px #0051FF;
    transition: ease .25s all;
    height: fit-content;
}
button:hover{
    color: aliceblue;
    background-color: #1359C4;
    border: solid 2px rgb(207, 230, 252);
}
.buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
#pagenum{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #1359C4;
    margin: 0;
}
.products{
    width: 50%;
}
.products h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1359C4;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    letter-spacing: -0.025em;
    margin-top: 100px;
}